{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title_comment_delete'|trans({'%id%': comment.id|default('')}) }}
{% endblock %}

{% block body %}
    <h1>{{ 'title_comment_delete'|trans({'%id%': comment.id|default('')}) }}</h1>
    {% include 'default/_form.html.twig' with {
        page_title: 'title_comment_delete_message'|trans({'%id%': comment.id|default('')}),
        form: form,
        submit_label: 'action.delete'|trans,
        back_to_list_path: 'comment_index',
    } %}

{% endblock %}