{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title_category_edit'|trans({'%id%': category.id|default('')}) }}
{% endblock %}

{% block body %}
    <h1>{{ 'title_category_edit'|trans({'%id%': category.id|default('')}) }}</h1>
    {% include 'default/_form.html.twig' with {
        page_title: 'title_category_edit_message'|trans({'%id%': category.id|default('')}),
        form: form,
        submit_label: 'action.edit'|trans,
        back_to_list_path: 'category_index',
    } %}
{% endblock %}